.feed_uploadFile{
    height: 70px;
}
.feed_uploadIcon {
    height: 60px;
    width: 50px;
}

.feed_divider {
    border-top: solid 1px gray;
}

#file-upload {
    display: none;
}

.feed_progressWrapper {
    width: 97.5%;
    height: 10px;
}

.feed_uploadProgress {
    text-align: center;
    /*margin-left: 10px;*/
    background-color: #23A0DA;
    height: 100%;
    width: 0;
    border-radius: 2px;
}