.suggestions_body {
    height: 256px;
    width: 290px;
    margin-top: 10px;
}

.suggestions_friend{
display: flex;
    padding: 5px 0;
}

.suggestions_img{
max-width: 35px;
    max-height: 35px;
}

.suggestions_username{
    font-weight: bold;
    margin: 10px;
}